<h1 xmlns="http://www.w3.org/1999/html">Create company</h1>
<hr>
<div class="col-md-6">

    <form #newcompanyForm="ngForm" (ngSubmit)="savecompany(newcompanyForm.value)" autocomplete="off" novalidate>

        <div class="form-group"
             [ngClass]="{'error': newcompanyForm.controls.companyName?.invalid && newcompanyForm.controls.companyName?.touched}">
            <label for="companyName">company Name:</label>
            <em *ngIf="newcompanyForm.controls.name?.invalid && (newcompanyForm.controls.name?.touched)">Required</em>
            <input (ngModel)="name" name="name" required id="companyName" type="text" class="form-control"
                   placeholder="company Name..."/>
        </div>

        <div class="form-group"
             [ngClass]="{'error': newcompanyForm.controls.email?.invalid && newcompanyForm.controls.email?.touched}">
            <label for="companyEmail">Email:</label>
            <em *ngIf="newcompanyForm.controls.email?.invalid && (newcompanyForm.controls.email?.touched)">Required</em>
            <input (ngModel)="email" name="email" required id="companyEmail" type="text" class="form-control"
                   placeholder="format (mm/dd/yyyy)..."/>
        </div>

        <div class="form-group"
             [ngClass]="{'error': newcompanyForm.controls.motto?.invalid && newcompanyForm.controls.motto?.touched}">
            <label for="motto">Your Motto:</label>
            <em *ngIf="newcompanyForm.controls.motto?.invalid && (newcompanyForm.controls.motto?.touched)">Required</em>
            <input (ngModel)="motto" name="motto" required id="motto" type="text" class="form-control"
                   placeholder="One Phrase..."/>
        </div>

        <div class="form-group"
             [ngClass]="{'error': newcompanyForm.controls.password?.invalid && newcompanyForm.controls.password?.touched}">
            <label for="password">Password:</label>
            <em *ngIf="newcompanyForm.controls.password?.invalid && (newcompanyForm.controls.password?.touched)">Required</em>
            <input (ngModel)="password" name="password" required id="password" type="text" type="text"
                   class="form-control" placeholder="Choose PassWord..."/>
        </div>

        <div class="form-group">
            <label for="linkedin">Linked'in:</label>
            <input (ngModel)="linkedin" name="linkedin" id="linkedin" type="text" class="form-control"
                   placeholder="Your Linked'in..."/>
        </div>

        <div class="form-group">
            <label for="github">GitHub:</label>
            <input (ngModel)="github" name="github" id="github" type="text" class="form-control"
                   placeholder="Your GitHub Repo..."/>
        </div>

        <div class="form-group">
            <label for="languages">Languages</label>
            <select (ngModel)="languages"  name="languages" id="languages" multiple class="form-control">
                <option *ngFor="let lang of languages" [value]="lang">{{lang.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="frameworks">FrameWorks</label>
            <select (ngModel)="frameworks" name="frameworks" id="frameworks" multiple class="form-control">
                <option *ngFor="let framework of frameworks" [value]="framework">{{framework.name}}</option>
            </select>
        </div>

        <!--<div class="form-group" [ngClass]="{'error': newcompanyForm.controls.imageUrl?.invalid && newcompanyForm.controls.imageUrl?.touched}">-->
        <!--<label for="imageUrl">Image:</label>-->
        <!--<em *ngIf="newcompanyForm.controls.imageUrl?.invalid && newcompanyForm.controls.imageUrl?.touched && newcompanyForm.controls.imageUrl?.errors.required">Required</em>-->
        <!--<em *ngIf="newcompanyForm.controls.imageUrl?.invalid && newcompanyForm.controls.imageUrl?.touched  && newcompanyForm.controls.imageUrl?.errors.pattern">Must be a png or jpg url</em>-->
        <!--<input (ngModel)="imageUrl" name="imageUrl" required pattern=".*\/.*.(png|jpg)" id="imageUrl" type="text" class="form-control" placeholder="url of image..." />-->
        <!--<img [src]="newcompanyForm.controls.imageUrl.value" *ngIf="newcompanyForm.controls.imageUrl?.valid" />-->
        <!--</div>-->

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" [disabled]="newcompanyForm.invalid" class="btn btn-default" (click)="cancel()">
            Cancel
        </button>
    </form>
</div>


