<div class="container">
    <div class="row">
        <div class="col-md-11">
            <h2>{{candidate?.name}} </h2>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <strong>GitHub:</strong><br/>
            <a href="{{candidate.github}}">{{candidate.github}}</a>
            <br/>
            <br/>
            <strong>GitHub:</strong><br/>
            <a href="{{candidate.linkedin}}">{{candidate.linkedin}}</a>
            <!--<a *ngFor="let person of candidate.frameworks" >{{person.fra}}</a>-->
        </div>
    </div>
</div>